In [1]:
import pandas as pd

In [2]:
m=pd.read_excel('Z:\\DA\\files\\Adidas_US_Sales_Datasets_1_.xlsx')

In [3]:
m

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,NaN,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,NaN,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,NaN,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,NaN,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,NaN,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,NaN,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,NaN,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,NaN,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,NaN,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,NaN,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [9]:
#1

m.groupby(['Retailer','Retailer ID'])['Retailer'].first()

Retailer       Retailer ID
Amazon         1185732               Amazon
Foot Locker    1128299          Foot Locker
               1185732          Foot Locker
               1197831          Foot Locker
Kohl's         1128299               Kohl's
               1185732               Kohl's
               1189833               Kohl's
               1197831               Kohl's
Sports Direct  1128299        Sports Direct
               1185732        Sports Direct
               1197831        Sports Direct
Walmart        1128299              Walmart
               1185732              Walmart
               1197831              Walmart
West Gear      1128299            West Gear
               1185732            West Gear
               1197831            West Gear
Name: Retailer, dtype: object

In [11]:
#2

m.groupby(['Region','Retailer'])['Region'].first()

Region     Retailer
Midwest    Amazon             Midwest
           Foot Locker        Midwest
           Kohl's             Midwest
           Sports Direct      Midwest
           West Gear          Midwest
Northeast  Amazon           Northeast
           Foot Locker      Northeast
           Kohl's           Northeast
           Sports Direct    Northeast
           Walmart          Northeast
           West Gear        Northeast
South      Amazon               South
           Foot Locker          South
           Kohl's               South
           Sports Direct        South
           Walmart              South
           West Gear            South
Southeast  Amazon           Southeast
           Foot Locker      Southeast
           Sports Direct    Southeast
           Walmart          Southeast
           West Gear        Southeast
West       Amazon                West
           Foot Locker           West
           Kohl's                West
           Sports Direct         West
           Walmart               West
           West Gear             West
Name: Region, dtype: object

In [17]:
#3

m.groupby(['City','Retailer'])['City'].first()

City         Retailer
Albany       Kohl's                Albany
             West Gear             Albany
Albuquerque  Kohl's           Albuquerque
             Sports Direct    Albuquerque
Anchorage    Amazon             Anchorage
                                 ...
St. Louis    West Gear          St. Louis
Wichita      Foot Locker          Wichita
             Kohl's               Wichita
Wilmington   Foot Locker       Wilmington
             Kohl's            Wilmington
Name: City, Length: 108, dtype: object

In [19]:
#4

m.groupby(['Retailer','City','Product'])[['Retailer','City']].first()

                                                Retailer       City
Retailer  City      Product
Amazon    Anchorage Men's Apparel                 Amazon  Anchorage
                    Men's Athletic Footwear       Amazon  Anchorage
                    Men's Street Footwear         Amazon  Anchorage
                    Women's Apparel               Amazon  Anchorage
                    Women's Athletic Footwear     Amazon  Anchorage
...                                                  ...        ...
West Gear St. Louis Men's Athletic Footwear    West Gear  St. Louis
                    Men's Street Footwear      West Gear  St. Louis
                    Women's Apparel            West Gear  St. Louis
                    Women's Athletic Footwear  West Gear  St. Louis
                    Women's Street Footwear    West Gear  St. Louis

[618 rows x 2 columns]

In [40]:
#5.	Find the total sales of every retailer.


m.groupby(['Retailer'])['Total Sales'].sum()

Retailer
Amazon            77698912.0
Foot Locker      220094720.0
Kohl's           102114753.0
Sports Direct    182470997.0
Walmart           74558410.0
West Gear        242964333.0
Name: Total Sales, dtype: float64

In [44]:
#6.	Find the total sales of the retailers in every city along with profit.

m.groupby(['Retailer','City'])[['Total Sales','Operating Profit']].sum()

                          Total Sales  Operating Profit
Retailer  City
Amazon    Anchorage        13365025.0        4143804.75
          Birmingham         409091.0         146947.48
          Boston            4193590.0        1375377.31
          Burlington       13380463.0        5376161.02
          Charlotte         3733676.0        1532481.72
...                               ...               ...
West Gear Portland         21934257.0        7712540.80
          Salt Lake City    9696420.0        3873429.10
          San Francisco    33360397.0        9843005.12
          Seattle          24862675.0        6469771.84
          St. Louis         1701133.0         681457.25

[108 rows x 2 columns]

In [45]:
#7.	Find the total sales &profit of each product sold by the retailer.

m.groupby(['Retailer','Product'])[['Total Sales','Operating Profit']].sum()

                                         Total Sales  Operating Profit
Retailer      Product
Amazon        Men's Apparel               10474770.0        3331443.80
              Men's Athletic Footwear     12011959.0        4518030.11
              Men's Street Footwear       22161652.0        8707658.12
              Women's Apparel             15710639.0        6280071.53
              Women's Athletic Footwear    7935255.0        2701607.74
              Women's Street Footwear      9404637.0        3279692.01
Foot Locker   Men's Apparel               29508995.0        9942404.61
              Men's Athletic Footwear     36480415.0       12409221.49
              Men's Street Footwear       57481575.0       23060809.17
              Women's Apparel             43296114.0       17192901.49
              Women's Athletic Footwear   24239624.0        8477313.73
              Women's Street Footwear     29087997.0        9639474.32
Kohl's        Men's Apparel               14164965.0        5945043.20
              Men's Athletic Footwear     17885316.0        5725762.60
              Men's Street Footwear       22421073.0        9219819.89
              Women's Apparel             20315239.0        5596172.50
              Women's Athletic Footwear   12493869.0        4570693.09
              Women's Street Footwear     14834291.0        5753761.30
Sports Direct Men's Apparel               24825286.0        8723914.71
              Men's Athletic Footwear     30889734.0       11935672.81
              Men's Street Footwear       38672270.0       15837750.43
              Women's Apparel             37113257.0       17832960.67
              Women's Athletic Footwear   23145288.0        9688746.39
              Women's Street Footwear     27825162.0       10313909.95
Walmart       Men's Apparel               11490680.0        3166591.22
              Men's Athletic Footwear     13600404.0        4029257.65
              Men's Street Footwear       14924255.0        5438666.13
              Women's Apparel             15316099.0        6348451.03
              Women's Athletic Footwear    8762792.0        3239052.49
              Women's Street Footwear     10464180.0        3560034.09
West Gear     Men's Apparel               33263936.0       13653632.79
              Men's Athletic Footwear     42805852.0       13228943.53
              Men's Street Footwear       53165419.0       20537556.88
              Women's Apparel             47287512.0       15400413.34
              Women's Athletic Footwear   30055068.0       10298371.50
              Women's Street Footwear     36386546.0       12548955.14

In [177]:
#8.	Find the units sold, total sales &profit of the products sold between the dates 1/1/2020 and 4/15/2020.

m[m['Invoice Date'].between('2020/01/01','2020/04/15')][['Units Sold','Total Sales','Operating Profit','Invoice Date']]

      Units Sold  Total Sales  Operating Profit Invoice Date
0           1200     600000.0         300000.00   2020-01-01
1           1000     500000.0         150000.00   2020-01-02
2           1000     400000.0         140000.00   2020-01-03
3            850     382500.0         133875.00   2020-01-04
4            900     540000.0         162000.00   2020-01-05
...          ...          ...               ...          ...
8275         170       9520.0           1713.60   2020-03-14
8276         149       2980.0           1192.00   2020-03-15
8277         145       4495.0           1123.75   2020-03-16
8278         128       3328.0           1397.76   2020-03-17
8279          96       2496.0            848.64   2020-03-18

[425 rows x 4 columns]

In [35]:
pd.groupr

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Month
0,NaN,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store,1
1,NaN,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store,1
2,NaN,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store,1
3,NaN,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store,1
4,NaN,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,NaN,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet,1
9644,NaN,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet,1
9645,NaN,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet,2
9646,NaN,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet,2
9647,NaN,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet,2

In [105]:
#9.	Find the no of units sold of each product by each retailer in every city.


m.groupby(["Retailer",'City','Product'])['Units Sold'].first()

Retailer   City       Product
Amazon     Anchorage  Men's Apparel                250
                      Men's Athletic Footwear      225
                      Men's Street Footwear        575
                      Women's Apparel              300
                      Women's Athletic Footwear    175
                                                  ...
West Gear  St. Louis  Men's Athletic Footwear      475
                      Men's Street Footwear        675
                      Women's Apparel              450
                      Women's Athletic Footwear    350
                      Women's Street Footwear      400
Name: Units Sold, Length: 618, dtype: int64

In [178]:
#10.	Find the products with different price per unit in different cities with proper information.

m.groupby(['Product','City'])['Price per Unit'].first()

Product                  City
Men's Apparel            Albany         55.0
                         Albuquerque    50.0
                         Anchorage      65.0
                         Atlanta        45.0
                         Baltimore      45.0
                                        ...
Women's Street Footwear  Seattle        50.0
                         Sioux Falls    30.0
                         St. Louis      25.0
                         Wichita        10.0
                         Wilmington     30.0
Name: Price per Unit, Length: 312, dtype: float64

In [38]:
#  11.	Find the total sales &profits of all products in every month.

m['Month']=[i.month for i in m['Invoice Date']]
m.groupby(['Month','Product'])[['Total Sales',"Operating Profit"]].sum()

                                 Total Sales  Operating Profit
Month Product
1     Men's Apparel               10253418.0        4140975.27
      Men's Athletic Footwear     13091636.0        3858129.77
      Men's Street Footwear       15594195.0        6355611.78
      Women's Apparel             13353328.0        3945335.36
      Women's Athletic Footwear    8347337.0        2897686.87
...                                      ...               ...
12    Men's Athletic Footwear     14260277.0        4933741.04
      Men's Street Footwear       21065269.0        8326619.99
      Women's Apparel             16601172.0        6400338.99
      Women's Athletic Footwear   10738917.0        3817987.76
      Women's Street Footwear     11499517.0        4047079.39

[72 rows x 2 columns]

In [11]:
#  12.	Find the total sales &profit of the products in different sales methods in each city.

m.groupby(['City','Sales Method'])[['Total Sales','Operating Profit']].first()

                          Total Sales  Operating Profit
City        Sales Method
Albany      In-store         190000.0          57000.00
            Online             4921.0           2066.82
Albuquerque Online           123750.0          43312.50
            Outlet             2639.0            976.43
Anchorage   Online             4368.0           1790.88
...                               ...               ...
St. Louis   In-store          62500.0          25000.00
            Online             1680.0            873.60
Wichita     Online            30000.0          10500.00
Wilmington  In-store          52500.0          21000.00
            Online             1485.0            816.75

[112 rows x 2 columns]

In [80]:
#13.	Find the retailers who sold the same product with different prices in different cities.

# pd.set_option('display.max_rows',None) #to display entire dataframe
m.groupby(['Retailer','Product','City'])['Price per Unit'].unique()

Retailer       Product                    City
Amazon         Men's Apparel              Anchorage         [65.00000000000001, 60.00000000000001, 65.0, 7...
                                          Boston            [65.0, 55.00000000000001, 63.0, 62.0, 52.0, 50...
                                          Burlington        [55.00000000000001, 60.0, 70.0, 60.00000000000...
                                          Charlotte                                  [70.0, 45.0, 65.0, 44.0]
                                          Columbus          [45.0, 40.00000000000001, 49.99999999999999, 6...
                                          Louisville        [49.99999999999999, 54.99999999999999, 50.0, 4...
                                          Manchester        [60.00000000000001, 65.0, 56.0, 58.0, 57.0, 63...
                                          Portland          [50.0, 54.99999999999999, 65.0, 47.0, 46.0, 49...
               Men's Athletic Footwear    Anchorage         [55.00000000000001, 60.00000000000001, 65.0000...
                                          Birmingham                                       [40.0, 38.0, 30.0]
                                          Boston            [55.00000000000001, 45.0, 52.0, 53.0, 42.0, 44...
                                          Burlington        [45.0, 55.00000000000001, 60.00000000000001, 5...
                                          Charlotte                                              [35.0, 33.0]
                                          Columbus          [30.0, 45.0, 60.00000000000001, 50.00000000000...
                                          Louisville        [45.0, 45.00000000000001, 35.00000000000001, 4...
                                          Manchester        [50.0, 60.00000000000001, 49.0, 54.0, 56.0, 55...
                                          Portland          [40.0, 50.0, 55.00000000000001, 38.0, 39.0, 37...
               Men's Street Footwear      Anchorage         [55.00000000000001, 65.0, 70.0, 75.00000000000...
                                          Birmingham                                       [40.0, 38.0, 27.0]
                                          Boston            [65.0, 45.0, 62.0, 64.0, 44.0, 41.0, 49.0, 51....
                                          Burlington        [45.0, 60.0, 65.0, 70.0, 50.0, 44.0, 41.0, 55....
                                          Charlotte                                              [35.0, 32.0]
                                          Columbus          [30.0, 45.0, 49.99999999999999, 65.0, 55.00000...
                                          Louisville        [45.0, 50.0, 40.0, 54.99999999999999, 41.0, 49...
                                          Manchester        [50.0, 65.0, 49.0, 48.0, 64.0, 59.0, 60.0, 39....
                                          Portland          [40.0, 54.99999999999999, 60.0, 65.0, 38.0, 39...
               Women's Apparel            Anchorage         [55.00000000000001, 50.0, 70.0, 80.0, 52.0, 53...
                                          Boston            [70.0, 45.0, 66.0, 64.0, 65.0, 44.0, 51.0, 48....
                                          Burlington        [45.0, 65.0, 75.0, 50.0, 43.0, 41.0, 44.0, 60....
                                          Charlotte                                  [75.0, 35.0, 69.0, 32.0]
                                          Columbus          [30.0, 35.0, 54.99999999999999, 70.0, 60.00000...
                                          Louisville        [40.0, 45.0, 55.00000000000001, 50.0, 54.99999...
                                          Manchester        [50.0, 70.0, 46.0, 45.0, 65.0, 66.0, 64.0, 68....
                                          Portland          [40.0, 60.0, 70.0, 38.0, 37.0, 36.0, 39.0, 56....
               Women's Athletic Footwear  Anchorage         [49.99999999999999, 55.00000000000001, 65.0000...
                                          Birmingham                                       [35.0, 34.0, 25.0]
                                          Boston            [55.00000000000001, 40.0, 51.0, 52.0, 39.0, 42...
                                          Burlington        [40.0, 50.0, 60.00000000000001, 44.99999999999...
                                          Charlotte                     [60.00000000000001, 30.0, 55.0, 29.0]
                                          Columbus          [30.0, 24.999999999999993, 40.0, 50.0, 55.0000...
                                          Louisville        [35.0, 40.0, 45.0, 30.000000000000004, 34.0, 3...
                                          Manchester        [44.99999999999999, 55.00000000000001, 42.0, 4...
                                          Portland          [35.0, 45.0, 55.00000000000001, 34.0, 32.0, 33...
               Women's Street Footwear    Anchorage         [45.0, 55.00000000000001, 65.00000000000001, 4...
                                          Birmingham                         [30.000000000000004, 28.0, 23.0]
                                          Boston            [55.00000000000001, 35.0, 50.0, 51.0, 32.0, 33...
                                          Burlington        [35.0, 50.0, 60.00000000000001, 40.0, 34.0, 32...
                                          Charlotte         [60.00000000000001, 25.000000000000007, 55.0, ...
                                          Columbus          [20.0, 40.0, 50.0, 55.00000000000001, 25.00000...
                                          Louisville        [35.0, 40.0, 30.000000000000004, 45.0, 34.0, 3...
                                          Manchester        [40.0, 55.00000000000001, 38.0, 51.0, 53.0, 54...
                                          Portland          [30.000000000000004, 45.0, 55.00000000000001, ...
Foot Locker    Men's Apparel              Anchorage                                              [50.0, 46.0]
                                          Atlanta                        [65.0, 50.0, 64.0, 47.0, 44.0, 35.0]
                                          Baltimore         [49.99999999999999, 60.0, 50.0, 49.0, 56.0, 54.0]
                                          Boise             [40.0, 54.99999999999999, 45.00000000000001, 3...
                                          Charleston        [50.0, 45.00000000000001, 54.99999999999999, 6...
                                          Cheyenne          [55.00000000000001, 45.00000000000001, 54.0, 4...
                                          Chicago           [54.99999999999999, 60.0, 50.0, 53.0, 56.0, 54...
                                          Des Moines        [40.0, 30.000000000000004, 60.0, 44.9999999999...
                                          Detroit                                    [60.0, 40.0, 55.0, 39.0]
                                          Fargo                                [60.0, 40.0, 55.0, 58.0, 38.0]
                                          Hartford                       [65.0, 45.0, 60.0, 44.0, 42.0, 34.0]
                                          Honolulu          [50.0, 60.0, 55.00000000000001, 85.00000000000...
                                          Jackson           [40.0, 35.00000000000001, 44.99999999999999, 6...
                                          Louisville                     [65.0, 60.0, 40.0, 59.0, 54.0, 38.0]
                                          Manchester        [75.00000000000001, 65.00000000000001, 71.0, 7...
                                          Miami             [55.00000000000001, 65.0, 50.0, 53.0, 52.0, 60.0]
                                          Minneapolis       [44.99999999999999, 50.0, 54.99999999999999, 4...
                                          New Orleans       [85.00000000000001, 40.0, 82.0, 36.0, 55.0, 28.0]
                                          New York          [60.0, 55.0, 58.0, 59.0, 56.0, 43.0, 44.0, 47....
                                          Omaha             [44.99999999999999, 50.0, 45.0, 49.99999999999...
                                          Philadelphia      [54.99999999999999, 60.0, 65.0, 70.0, 54.0, 51...
                                          Phoenix           [45.00000000000001, 55.00000000000001, 65.0, 4...
                                          Providence        [45.0, 49.99999999999999, 60.0, 41.0, 44.0, 49...
                                          Richmond          [45.00000000000001, 55.00000000000001, 50.0000...
                                          Sioux Falls       [49.99999999999999, 50.0, 60.0, 54.99999999999...
                                          St. Louis         [40.0, 45.0, 44.99999999999999, 35.0, 25.0, 38...
                                          Wichita           [75.00000000000001, 70.0, 49.99999999999999, 6...
                                          Wilmington        [50.0, 54.99999999999999, 65.0, 45.0, 46.0, 47...
               Men's Athletic Footwear    Anchorage                                        [45.0, 43.0, 42.0]
                                          Atlanta                              [40.0, 37.0, 39.0, 30.0, 27.0]
                                          Baltimore                      [50.0, 40.0, 45.0, 46.0, 38.0, 37.0]
                                          Boise             [40.0, 55.00000000000001, 54.99999999999999, 3...
                                          Charleston        [35.0, 50.0, 60.00000000000001, 50.00000000000...
                                          Cheyenne                                               [40.0, 36.0]
                                          Chicago           [45.0, 50.0, 55.00000000000001, 45.00000000000...
                                          Dallas                                           [45.0, 41.0, 34.0]
                                          Des Moines        [20.000000000000004, 40.0, 30.00000000000001, ...
                                          Detroit                                          [30.0, 29.0, 28.0]
                                          Fargo             [40.0, 50.0, 30.000000000000004, 36.0, 46.0, 2...
                                          Hartford          [55.00000000000001, 35.0, 51.0, 34.0, 37.0, 28...
                                          Honolulu          [54.99999999999999, 65.0, 60.0, 75.0, 85.00000...
                                          Jackson            [25.0, 40.0, 24.0, 23.0, 37.0, 20.0, 28.0, 29.0]
                                          Knoxville                                        [35.0, 32.0, 23.0]
                                          Los Angeles                                      [45.0, 41.0, 31.0]
                                          Louisville        [55.00000000000001, 30.000000000000004, 52.0, ...
                                          Manchester        [65.00000000000001, 55.00000000000001, 62.0, 5...
                                          Miami             [45.0, 50.000000000000014, 35.0, 43.0, 42.0, 4...
                                          Minneapolis       [35.0, 40.0, 45.00000000000001, 40.00000000000...
                                          New Orleans                          [30.0, 35.0, 28.0, 32.0, 20.0]
                                          New York          [50.0, 55.00000000000001, 47.0, 46.0, 48.0, 54...
                                          Omaha             [35.0, 40.0, 40.00000000000001, 35.00000000000...
                                          Philadelphia      [45.0, 50.0, 60.00000000000001, 44.0, 47.0, 54...
                                          Phoenix           [50.0, 55.00000000000001, 60.00000000000001, 5...
                                          Providence        [35.0, 45.0, 50.0, 34.0, 32.0, 43.0, 41.0, 42....
                                          Richmond          [50.0, 60.00000000000001, 55.00000000000001, 6...
                                          Seattle                                                [45.0, 41.0]
                                          Sioux Falls       [40.0, 50.0, 40.00000000000001, 45.00000000000...
                                          St. Louis         [35.0, 30.000000000000004, 35.00000000000001, ...
                                          Wichita           [15.000000000000014, 60.00000000000001, 40.0, ...
                                          Wilmington        [40.0, 50.0, 55.00000000000001, 39.0, 38.0, 47...
               Men's Street Footwear      Anchorage                                              [35.0, 33.0]
                                          Atlanta                              [40.0, 39.0, 38.0, 26.0, 31.0]
                                          Baltimore         [49.99999999999999, 60.0, 40.0, 49.0, 58.0, 57...
                                          Boise             [30.0, 50.0, 54.99999999999999, 29.99999999999...
                                          Charleston        [35.0, 50.0, 54.99999999999999, 65.0, 55.00000...
                                          Cheyenne                           [30.000000000000004, 29.0, 27.0]
                                          Chicago           [45.0, 50.0, 60.0, 44.0, 47.0, 48.0, 58.0, 46....
                                          Dallas                                           [45.0, 44.0, 34.0]
                                          Des Moines        [20.000000000000004, 60.0, 35.0, 50.0, 44.9999...
                                          Detroit                                          [30.0, 27.0, 29.0]
                                          Fargo             [49.99999999999999, 60.0, 30.000000000000004, ...
                                          Hartford          [65.0, 35.0, 60.0, 59.0, 34.0, 51.0, 45.0, 23....
                                          Honolulu          [45.0, 60.0, 54.99999999999999, 70.0, 80.0, 85...
                                          Jackson           [25.0, 40.0, 44.99999999999999, 60.0, 23.0, 39...
                                          Knoxville                                        [35.0, 32.0, 27.0]
                                          Los Angeles                                      [45.0, 44.0, 36.0]
                                          Louisville             [65.0, 30.000000000000004, 59.0, 29.0, 28.0]
                                          Manchester        [70.0, 75.00000000000001, 55.00000000000001, 6...
                                          Miami             [45.0, 55.00000000000001, 35.0, 43.0, 41.0, 42...
                                          Minneapolis       [35.0, 40.0, 50.0, 45.0, 44.99999999999999, 54...
                                          New Orleans                    [20.0, 25.0, 19.0, 23.0, 14.0, 18.0]
                                          New York          [50.0, 60.0, 47.0, 46.0, 45.0, 54.0, 55.0, 59....
                                          Omaha             [35.0, 40.0, 45.0, 49.99999999999999, 32.0, 38...
                                          Philadelphia      [45.0, 50.0, 60.0, 65.0, 70.0, 42.0, 49.0, 46....
                                          Phoenix           [40.0, 50.0, 55.00000000000001, 45.00000000000...
                                          Providence        [35.0, 49.99999999999999, 54.99999999999999, 3...
                                          Richmond          [40.0, 55.00000000000001, 50.0, 54.99999999999...
                                          Seattle                                                [45.0, 44.0]
                                          Sioux Falls       [40.0, 60.0, 45.0, 50.0, 54.99999999999999, 39...
                                          St. Louis         [35.0, 40.0, 44.99999999999999, 34.0, 33.0, 39...
                                          Wichita           [25.00000000000001, 70.0, 40.0, 23.0, 66.0, 38...
                                          Wilmington        [40.0, 54.99999999999999, 60.0, 36.0, 51.0, 53...
               Women's Apparel            Anchorage                                              [45.0, 42.0]
                                          Atlanta                        [70.0, 40.0, 64.0, 37.0, 47.0, 30.0]
                                          Baltimore         [54.99999999999999, 64.99999999999999, 40.0, 5...
                                          Boise             [35.0, 65.0, 40.0, 34.0, 64.0, 60.0, 36.0, 26....
                                          Charleston        [35.0, 40.0, 60.0, 70.0, 60.00000000000001, 55...
                                          Cheyenne                                   [60.0, 40.0, 56.0, 38.0]
                                          Chicago           [45.0, 50.0, 65.0, 55.00000000000001, 64.99999...
                                          Des Moines        [14.999999999999996, 20.000000000000004, 50.0,...
                                          Detroit                       [64.99999999999999, 30.0, 59.0, 29.0]
                                          Fargo             [54.999999999999986, 64.99999999999999, 30.000...
                                          Hartford           [70.0, 35.0, 63.0, 67.0, 33.0, 46.0, 52.0, 26.0]
                                          Honolulu          [45.0, 54.99999999999999, 70.0, 75.0, 100.0, 4...
                                          Jackson           [25.0, 30.000000000000004, 49.99999999999999, ...
                                          Louisville        [70.0, 64.99999999999999, 30.000000000000004, ...
                                          Manchester        [80.0, 55.00000000000001, 72.0, 78.0, 74.0, 54...
                                          Miami             [45.0, 60.00000000000001, 70.0, 41.0, 42.0, 56...
                                          Minneapolis       [35.0, 40.0, 60.0, 55.00000000000001, 50.0, 49...
                                          New Orleans                         [90.00000000000003, 87.0, 59.0]
                                          New York          [50.0, 65.0, 46.0, 48.0, 45.0, 49.0, 59.0, 64....
                                          Omaha             [35.0, 40.0, 54.99999999999999, 50.0, 45.0, 44...
                                          Philadelphia      [45.0, 50.0, 70.0, 60.0, 64.99999999999999, 75...
                                          Phoenix           [40.0, 50.0, 70.0, 60.00000000000001, 38.0, 47...
                                          Providence        [35.0, 54.99999999999999, 33.0, 32.0, 52.0, 51...
                                          Richmond          [40.0, 50.0, 65.00000000000001, 60.0, 105.0, 7...
                                          Sioux Falls       [35.0, 40.0, 50.0, 60.0, 55.00000000000001, 32...
                                          St. Louis         [30.0, 35.0, 30.000000000000004, 49.9999999999...
                                          Wichita           [30.000000000000004, 75.0, 40.0, 28.0, 73.0, 6...
                                          Wilmington        [40.0, 60.0, 39.0, 38.0, 54.0, 56.0, 55.0, 59....
               Women's Athletic Footwear  Anchorage                                              [45.0, 43.0]
                                          Atlanta           [55.00000000000001, 35.0, 51.0, 34.0, 40.0, 25.0]
                                          Baltimore                [40.0, 50.0, 35.0, 37.0, 49.0, 48.0, 32.0]
                                          Boise             [35.0, 50.0, 60.0, 40.0, 32.0, 33.0, 48.0, 59....
                                          Charleston        [35.0, 29.999999999999993, 45.0, 50.0, 55.0000...
                                          Cheyenne                      [45.00000000000001, 40.0, 44.0, 38.0]
                                          Chicago           [40.0, 45.0, 50.0, 39.0, 41.0, 44.0, 48.0, 38....
                                          Dallas                                           [40.0, 38.0, 28.0]
                                          Des Moines        [25.000000000000007, 14.999999999999996, 35.0,...

In [119]:
# m.groupby(['Retailer','City'])['Price per Unit'].count()
#14.	Find the products whose sales raises in every month.


m.groupby(['Product',pd.Grouper(key="Invoice Date",axis=0,freq="M")])[['Total Sales']].first().diff().apply(lambda x:x<0).all(axis=1)

Product                    Invoice Date
Men's Apparel              2020-01-31      False
                           2020-02-29       True
                           2020-03-31      False
                           2020-04-30      False
                           2020-05-31      False
                           2020-06-30       True
                           2020-07-31      False
                           2020-08-31      False
                           2020-09-30      False
                           2020-10-31      False
                           2020-11-30      False
                           2020-12-31      False
                           2021-01-31      False
                           2021-02-28      False
                           2021-03-31       True
                           2021-04-30       True
                           2021-05-31      False
                           2021-06-30       True
                           2021-07-31       True
                           2021-08-31      False
                           2021-09-30      False
                           2021-10-31      False
                           2021-11-30       True
                           2021-12-31      False
Men's Athletic Footwear    2020-01-31      False
                           2020-02-29       True
                           2020-03-31      False
                           2020-04-30      False
                           2020-05-31      False
                           2020-06-30       True
                           2020-07-31      False
                           2020-08-31      False
                           2020-09-30      False
                           2020-10-31      False
                           2020-11-30       True
                           2020-12-31      False
                           2021-01-31      False
                           2021-02-28      False
                           2021-03-31       True
                           2021-04-30      False
                           2021-05-31      False
                           2021-06-30       True
                           2021-07-31       True
                           2021-08-31      False
                           2021-09-30      False
                           2021-10-31      False
                           2021-11-30       True
                           2021-12-31      False
Men's Street Footwear      2020-01-31      False
                           2020-02-29      False
                           2020-03-31      False
                           2020-04-30       True
                           2020-05-31      False
                           2020-06-30       True
                           2020-07-31      False
                           2020-08-31      False
                           2020-09-30      False
                           2020-10-31      False
                           2020-11-30       True
                           2020-12-31      False
                           2021-01-31      False
                           2021-02-28       True
                           2021-03-31       True
                           2021-04-30      False
                           2021-05-31      False
                           2021-06-30       True
                           2021-07-31      False
                           2021-08-31      False
                           2021-09-30       True
                           2021-10-31      False
                           2021-11-30       True
                           2021-12-31      False
Women's Apparel            2020-01-31      False
                           2020-02-29       True
                           2020-03-31      False
                           2020-04-30      False
                           2020-05-31       True
                           2020-06-30       True
                           2020-07-31      False
                           2020-08-31       True
                           2020-09-30      False
                           2020-10-31      False
                           2020-11-30       True
                           2020-12-31      False
                           2021-01-31      False
                           2021-02-28       True
                           2021-03-31       True
                           2021-04-30       True
                           2021-05-31      False
                           2021-06-30       True
                           2021-07-31      False
                           2021-08-31       True
                           2021-09-30      False
                           2021-10-31      False
                           2021-11-30       True
                           2021-12-31      False
Women's Athletic Footwear  2020-01-31      False
                           2020-02-29       True
                           2020-03-31      False
                           2020-04-30      False
                           2020-05-31      False
                           2020-06-30       True
                           2020-07-31      False
                           2020-08-31       True
                           2020-09-30      False
                           2020-10-31      False
                           2020-11-30       True
                           2020-12-31      False
                           2021-01-31      False
                           2021-02-28       True
                           2021-03-31       True
                           2021-04-30       True
                           2021-05-31      False
                           2021-06-30       True
                           2021-07-31      False
                           2021-08-31      False
                           2021-09-30      False
                           2021-10-31      False
                           2021-11-30       True
                           2021-12-31      False
Women's Street Footwear    2020-01-31      False
                           2020-02-29       True
                           2020-03-31      False
                           2020-04-30      False
                           2020-05-31      False
                           2020-06-30       True
                           2020-07-31      False
                           2020-08-31      False
                           2020-09-30      False
                           2020-10-31       True
                           2020-11-30       True
                           2020-12-31      False
                           2021-01-31      False
                           2021-02-28       True
                           2021-03-31       True
                           2021-04-30       True
                           2021-05-31      False
                           2021-06-30       True
                           2021-07-31       True
                           2021-08-31      False
                           2021-09-30      False
                           2021-10-31      False
                           2021-11-30       True
                           2021-12-31      False
dtype: bool

In [112]:
#15.	Find the retailers whose profit increased every month.
m.groupby(['Retailer',pd.Grouper(key="Invoice Date",axis=0,freq="Y")])[['Operating Profit']].sum().diff().apply(lambda x:x>0).all()

Operating Profit    False
dtype: bool